$background-color: #282828;
$text-color: #F8F8F8;
$highlight-color: #A8A8A8;

$color-primary-0: #F7F052;
$color-primary-1: #FFFBA2;
$color-primary-2: #FFF977;
$color-primary-3: #E3DB2B;
$color-primary-4: #B5AE12;

$color-secondary-1-0: #00D3B6;	// Main Primary color */
$color-secondary-1-1: #55DDCB;
$color-secondary-1-2: #2AD7BF;
$color-secondary-1-3: #00AF97;
$color-secondary-1-4: #00816F;


$color-secondary-2-0: #D39441;	// Main Primary color */
$color-secondary-2-1: #FFD39B;
$color-secondary-2-2: #F2B76B;
$color-secondary-2-3: #B47522;
$color-secondary-2-4: #8F5509;


$color-complement-0: #763FA6;	// Main Complement color */
$color-complement-1: #B790DA;
$color-complement-2: #9360BE;
$color-complement-3: #632699;
$color-complement-4: #4B147A;

