.horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-items {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@mixin placeholder-color($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
}
.highlighted {
  background: $highlight-color;
}
