<div class="analytics-css-container">
  <div class="header-container">
    <h1 class="page-title">
      Analytics
    </h1>
  </div>
  <div class="input-field-wrapper">
    <input id="search-name" type="text" placeholder="Search by name" class="attribute"/>
    <i class="fa fa-search"></i>
  </div>
  <div>Search is hooked up to mock data. A request is sent out and a different json file is returned.</div>
  <div>TODO: I'd like to write up a quick 101 on regex here</div>
  <div class="row content-panel">
    <div id="mock-bars"></div>
    <div id="mock-pie"></div>
    <div id="mock-legend"></div>
  </div>
</div>
