<div class="analytics-css-container">
  <div class="header-container">
    <h1 class="page-title">
      Analytics
    </h1>
  </div>
  <div class="row content-panel">
    This is where I'll be showing graphs at some point
  </div>
</div>